<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "mybatis-3-mapper.dtd">
<mapper namespace="UserinfoMapper">
    <insert id="insertUserinfo" parameterType="entity.Userinfo"
            useGeneratedKeys="true" keyProperty="id">
        insert into
        userinfo(username,password,age,insertdate)
        values(#{username},#{password},#{age},#{insertdate})
    </insert>
    <select id="getUserinfoById" parameterType="long"
            resultType="entity.Userinfo">
        select *
        from userinfo where id=#{id}
    </select>
    <!--parameterType参数可以省略，但如果省略的话要在对应的mapper接口中标明参数-->
    <select id="getUserinfoByIds" resultType="entity.Userinfo">
        select *
        from userinfo where id=#{arg0} or id=#{arg1}
    </select>
</mapper>0